* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #9BADEF;
    height: 40px;
    padding: 0 10px;
}

/* Card Grid Styles */
.card-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    grid-auto-rows: 95px;
    max-width: 900px; 
    margin: 25px auto;
}

.thin-card, .medium-rectangle, .medium-square, .medium-square2, .small-square, .big-square {
    border-radius: 4px;

}


.thin-card {
    height: 23px; 
    background-color: orange;
    grid-column: span 6;
    grid-row: 1; 
}

.medium-rectangle {
    height: 100px;
    background-color: lightgray;
    grid-column: span 6; 
    grid-row: 2;
}

.medium-square {
    height: 100px; 
    background-color: lightblue;
    grid-column: span 3;
    grid-row: 3;
}

.medium-square2 {
    height: 100px; 
    background-color: lightblue;
    grid-column: span 3;
    grid-row: 4;
}

.big-square {
    height: 250px; 
    background-color: lightgreen;
    grid-column: span 4;
    grid-row: 2;
    margin-top: 64px; 
}

.small-square {
    height: 160px; 
    background-color: lightcoral;
    grid-column: span 2; 
    grid-row: 1;
}

